::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
background: white;
}

::-webkit-scrollbar-thumb {
    background: #FF5876;
}

::-webkit-scrollbar-thumb:hover {
   background: #ff6d88;
}
@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(fonts/index.otf);
   }
@font-face {
   font-family: OpenSans;
   src: url(fonts/OpenSans-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Pompadur;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

a:hover {
    text-decoration: none;
    color: white;
}


.container {
    max-width: 1100px;
    height: fit-content;
    padding: 50px 0;
    width: 100%;
}


.menu {
    width: 100%;
    background: linear-gradient(to right, #006DF0, #007CF8 );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
}

.menu__navigator {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    min-height: 70px;
    width: 100%;
    background: blue;
    margin-bottom: 25px;
}

.menu__navigator.fixed {
    z-index: 100;
    left: 50%;
    position: fixed;
    top: 0;
    width: 1100px;
    margin-left: -550px;
}

.menu__navigator-item {
    white-space: nowrap;
    font-family: Pompadur;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.5s;
    font-weight: bolder;
    color: white;
    font-size: 25pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    flex-shrink: 0;
}

.menu__navigator-item.one {
    background: #319dff;
}

.menu__navigator-item.two {
    background: #3096f0;
}

.menu__navigator-item.three {
    background: #0085eb;
}

.menu__navigator-item.four {
    background: #0070ed;
}

.menu__navigator-item.one:hover{
    background:#FF5876
}
.menu__navigator-item.two:hover{
    background:#FF5876
}
.menu__navigator-item.three:hover{
    background:#FF5876
}
.menu__navigator-item.four:hover{
    background:#FF5876
}

.menu__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.menu__header-text {
    user-select: none;
    text-align: right;
    font-size: 70pt;
    color: white;
    text-transform: uppercase;
    margin-left: 25px;
    align-self: center;
}

.menu__header-text-dev {
    white-space: nowrap;
    font-size: 30%;
}

.menu__header-text-dev_instagram {
    color: #FFAA30
}

.menu__header-text-dev_name {
    display: block;
    font-size: 32pt;
}

.video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.video.right {
    flex-direction: row-reverse;
}

.video.right:after {
    margin-left: -85px;
}

.video:after {
    margin-top: 12px;
    margin-left: 85px;
    position: absolute;
    content: '';
    width: 200px;
    height: 35px;
    border-radius: 0 0 50px 50px;
    background: black;
}

.mask__example {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
}

.mask__example-description{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.mask__example_button-test-effect {
    align-self: flex-end;
    justify-self: flex-end;
    min-width: 80px;
    min-height: 80px;
    border: 2px solid black;
    border-radius: 50px;
    transition: background-color 2s;
}

.mask__example_button-test-effect:hover {
    background: black;
}

.mask__example-description-title {
    text-align: center;
    background-position-y: center;
    align-self: flex-start;
    padding: 100px;
    font-size: 30pt;
    color: white;
    margin-left: 25px;
    background-image: url(img/streak.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.mask__example-description-title.whitestreak {
    background-image: url(img/streak-white.png);
    color: #0072F3;
}

.mask__example-description-body {
    font-size: 25pt;
    font-weight: 200;
    font-family: OpenSans;
}

.container-share {
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: -10%;
}

.container-share a {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 470px){
    .container {
        max-width: 470px;
    }
    /*.menu__navigator > a {*/
    /*    display: none;*/
    /*}*/
    /*.menu__navigator:before {*/
    /*    content: '';*/
    /*    position: fixed;*/
    /*    width: 100px;*/
    /*    height: 100px;*/
    /*    background: red;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*}*/
    /*.menu__navigator:hover {*/
    /*    display: flex;*/
    /*    align-content: center;*/
    /*    justify-content: center;*/
    /*    flex-direction: column;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*}*/

    /*.menu__navigator:hover > a {*/
    /*    text-align: center;*/
    /*    width: 100%;*/
    /*    flex-basis: 0;*/
    /*    display: block;*/
    /*    align-self: center;*/
    /*}*/

}