@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(fonts/index.otf);
   }

body {
    font-family: Pompadur;
    padding: 0;
    margin: 0;
    height: 200vh;
}


.container {
    max-width: 1100px;
    height: fit-content;
    padding: 50px 0;
    width: 100%;
}


.menu {
    width: 100%;
    background: linear-gradient(to right, #006DF0, #007CF8 );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
}

.menu__navigator {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    min-height: 70px;
    width: 100%;
    background: blue;
    margin-bottom: 25px;
}

.menu__navigator-item {
    white-space: nowrap;
    font-family: Pompadur;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.8s;
    font-weight: bolder;
    color: white;
    font-size: 25pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    flex-shrink: 0;
}

.menu__navigator-item.one {
    background: #319dff;
}

.menu__navigator-item.two {
    background: #3096f0;
}

.menu__navigator-item.three {
    background: #0085eb;
}

.menu__navigator-item.four {
    background: #0070ed;
}

.menu__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.menu__header-text {
    user-select: none;
    text-align: right;
    font-size: 70pt;
    color: white;
    text-transform: uppercase;
    margin-left: 25px;
    align-self: center;
}

.menu__header-text-dev {
    white-space: nowrap;
    font-size: 30%;
}

.menu__header-text-dev_instagram {
    color: #FFAA30
}

.menu__header-text-dev_name {
    display: block;
    font-size: 32pt;
}

.video {
    margin-left: -100px;
    margin-top: 50px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 690px;
    width: 430px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.video:after {
    margin-top: -310px;
    position: absolute;
    content: '';
    width: 200px;
    height: 25px;
    border-radius: 0 0 50px 50px;
    background: black;
}

.mask__example {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}

.mask__example-text {
    font-size: 50pt;
    flex-basis: 50%;
    max-width: 800px;
}