@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

@font-face {
    font-family: GillSans; /* Имя шрифта */
    src: url(./GillSans.ttc); /* Путь к файлу со шрифтом */
   }

.mainVideo{
  padding: 20vh 20vw 0 20vw;
  width: 40vw;
}

body {
  background: rgb(35,27,82) url('./background.png') no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

video {
  width: 60vw;
  height: 100%;
}

.icon{
  display: inline-block;
  width:2vw;
  height:2vw;
}

.download-icon{
  height:2vw;
}

.get-video{
  display: inline-block;
}

.get-video a:hover{
  color: black;
}

a {
  text-decoration: none;
  padding: 0;
}

.share-friend{
  color: black;
  float: left;
  margin: 0 1vw 0 0;
  font-size: 1.8vw;
  font-family: 'GillSans', sans-serif;
}

.share{
  margin: 1vh 30vw 0 30vw;
  padding: 1.5vh 0 1.5vh 2vw;
  background: #ffee2f;
}

@media screen and (max-device-width: 450px) {
  body {
    background: rgb(35,27,82) url('./mobile-background.png') no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 0;
  }
  video {
    width: 96vw;
    height: 100%;
  }
  .mainVideo{
    padding: 20vh 2vw 0 2vw;
    width: 100vw;
  }
  .share{
    margin: 0 10vw 0 10vw;
    padding: 1vh 0 1vh 2vw;
    /*padding: 8px 0 8px 2vw;*/
    /*background: #ffee2f;*/
  }
  .share-friend{
    color: black;
    float: left;
    margin: 0 5px 0 0;
    font-size: 3.8vw;
    font-family: 'GillSans', sans-serif;
  }
  .icon{
    display: inline-block;
    width:4vw;
    height:4vw;
  }
  .download-icon{
    height:4vw;
  }
}

@media screen and (min-device-width: 450px) and (max-device-width: 1024px) and (max-device-height: 1024px) {
  body {
    background: rgb(35,27,82) url('./table-background.png') no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  video {
    width: 95vw;
    height: 100%;
  }
  .mainVideo{
    padding: 30vh 2vw;
    width: 100vw;
  }
}


