@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

@font-face {
    font-family: GillSans; /* Имя шрифта */
    src: url(./GillSans.ttc); /* Путь к файлу со шрифтом */
   }

body {
  background: white;
  padding: 0 25px;
  margin: 0;
}

.Main-menu {
  width: 100%;
  min-height: 80px;

  background: #FFF0F0;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
}

.Main-view {
  align-items: stretch;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;

  margin-top: 20px;
}

.Main-view_block {
  margin: 25px;
  flex-basis: 400px;
  flex-shrink: 1;
  flex-grow: 1;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.Main-view_block img {
  width: 100%;
  height: 100%;
}